@import './../constants/flex';
@import './../screenScss/userManagementScreen';

@import "./../../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "./../../../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "./../../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "./../../../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";

.UserManagement {
  // @include flex-between-center;
  height: 100vh;
  width: 100vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: unset;
}