@mixin header-font {
  font-size: 18px;
  text-decoration: unset;
  color: white;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@mixin match-font {
  font-size: 12px;
  color: #777777;
}