<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Soccer live</title>
    <link rel="stylesheet" href="/assets/styles/componentsScss/footer.css" />
    <link rel="stylesheet" href="/assets/styles/componentsScss/header.css" />
    <link rel="stylesheet" href="/assets/styles/pageScss/homepage.css" />
    <!-- CSS link (loading Semantic UI from a CDN) -->
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    /> -->
  </head>
  <body class="homepage__container">
    <%- include('./../components/header'); %>
    <%- include('./../screens/homepageScreen.ejs'); %>
    <%- include('./../components/footer'); %>
  </body>
  <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" 
    crossorigin="anonymous">
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="views/apis/axios.js"></script>
  <script src="views/apis/casters.js"></script>
  <script src="views/apis/clubs.js"></script>
  <script src="views/apis/leagues.js"></script>
  <script src="views/apis/rooms.js"></script>
  <script src="views/js/homepage.js"></script>
  <script src="ejs.js"></script>
</html>