<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Admin - Quản lí giải</title>
    <link rel="stylesheet" href="/assets/styles/pageScss/leagueManagement.css" />
    <link rel="stylesheet" href="/assets/styles/componentsScss/sideBar.css" />
    <!-- Bootstrap -->
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
      crossorigin="anonymous">
  </head>
  <body class="LeagueManagement">
    <%- include('./../components/sideBar.ejs', {tabChoose: 'league'}); %>
    <%- include('./../screens/leagueManagementScreen.ejs'); %>
  </body>
  <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" 
    crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="views/apis/axios.js"></script>
  <script src="views/apis/leagues.js"></script>
  <script src="views/apis/file.js"></script>
  <script src="views/js/league.js"></script>
</html>