<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Soccer live - Lịch trực tiếp</title>
    <link rel="stylesheet" href="/assets/styles/footer.css" />
    <link rel="stylesheet" href="/assets/styles/header.css" />
    <link rel="stylesheet" href="/assets/styles/homepage.css" />
  </head>
  <body class="homepage__container">
    <%- include('./../components/header'); %>
    <main>
      <div class="ui segment">
        <h1>At least we can see something now</h1>
        <p>This is visual of templating through EJS</p>
      </div>
    </main>
    <%- include('./../components/footer'); %>
  </body>
</html>