<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Admin Login</title>
    <link rel="stylesheet" href="/assets/styles/loginAdmin.css" />
  </head>
  <body class="adminPage__login">
    <%- include('./../screens/loginAdminScreen.ejs'); %>
  </body>
</html>