<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Admin Login</title>
    <link rel="stylesheet" href="/assets/styles/pageScss/signUpAdmin.css" />
  </head>
  <body class="signUpAdminScreenPage">
    <%- include('./../screens/signUpAdminScreen.ejs'); %>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="views/apis/axios.js"></script>
  <script src="views/apis/auth.js"></script>
  <script src="views/js/signUp.js"></script>
</html>