<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Soccer live - Highlights</title>
  </head>
  <body>
    <h1>Hello World</h1>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="views/apis/axios.js"></script>
  <script src="views/apis/auth.js"></script>
  <script src="views/apis/leagues.js"></script>
  <script src="views/apis/clubs.js"></script>
  <script src="views/apis/casters.js"></script>
  <script src="views/apis/rooms.js"></script>
  <script src="views/apis/file.js"></script>
</html>
