@import './../constants/flex';

.loginAdminScreen {
  background: #F0F0F0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  min-width: 500px;

  .login__title {
    @include flex-center-center;
    height: 40px;
    padding: 15px 30px;
    border-radius: 25px 25px 0 0;
    font-size: 24px;
    font-weight: bold;

    color: white;
    background: #9FE8FF;
  }

  .login__cont {
    padding: 15px 30px;

    .input__form {
      @include flex-between-center;
      margin-top: 30px;

      &:first-child {
        margin-top: 15px;
      }

      .form__title {
        width: 120px;
        font-size: 16px;
        font-weight: bold;
      }

      .form__input {
        height: 30px;
        width: 100%;
        border: unset;
        border-radius: 8px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
      }
    }

    .form__action {
      @include flex-end-center;
      margin: 30px 0 15px;

      .submit__btn {
        height: 35px;
        width: 100px;
        font-size: 14px;
        font-weight: bold;
        border: unset;
        border-radius: 8px;
        color: #ffffff;
        background-color: #A2D2FF;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }
    }
  }
}