<div class="CasterManagementScreen">
  <div class="screen__header"></div>
  <div class="table__container">
    <div class="tableAction__cont">
      <button class="addNew__btn" data-bs-toggle="modal" data-bs-target="#addCasterModal">+ Thêm mới</button>
    </div>
    <div class="table__content">
      <table class="table data__table">
        <thead class="header__table">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Họ tên</th>
            <th scope="col">Avatar</th>
            <th scope="col">Ngày tạo</th>
            <th scope="col">Ngày thay đổi</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="table-group-divider table__body" id="table-body" >
        </tbody>
      </table>
      <!-- <nav class="table__pagination" aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav> -->
    </div>
  </div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addCasterModal" tabindex="-1" aria-labelledby="addCasterModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCasterModalTitle">Thêm mới caster</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="AddCasterBodyDialog">
          <div class="dialogForm__input">
            <div class="input__label">Họ tên</div>
            <input id="casterName" type="text" class="casterName__input"></input>
          </div>
          <div class="dialogForm__input">
            <div class="input__label">Avatar</div>
            <input id="casterAvatarImage" type="file" class="casterName__input" ></input>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" onclick="createNewCasterSubmit()">Thêm</button>
      </div>
    </div>
  </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateCasterModal" tabindex="-1" aria-labelledby="updateCasterModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateCasterModalTitle">Cập nhật thông tin caster</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="updateCasterBodyDialog">
          <div class="dialogForm__input">
            <div class="input__label">Họ tên</div>
            <input id="casterName" type="text" class="casterName__input"></input>
          </div>
          <div class="dialogForm__input">
            <div class="input__label">Avatar</div>
            <input id="casterAvatarImage" type="file" class="casterName__input" ></input>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" onclick="updateCasterSubmit()">Cập nhật</button>
      </div>
    </div>
  </div>
</div>

<!-- Info modal -->
<div class="modal fade" id="infoCasterModal" tabindex="-1" aria-labelledby="infoCasterModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoCasterModalTitle">Thông tin caster</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="updateCasterBodyDialog">
          <div class="dialogForm__input">
            <div class="input__label">Họ tên</div>
            <input id="casterName" type="text" class="casterName__input" disbaled></input>
          </div>
          <div class="dialogForm__input">
            <div class="input__label">Avatar</div>
            <input id="casterAvatarImage" type="file" class="casterName__input" disbaled></input>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete modal -->
<div class="modal fade" id="deleteCasterModal" tabindex="-1" aria-labelledby="deleteCasterModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteCasterModalTitle">Xác nhận xóa caster</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="BodyDialog">
          <div>Bạn có chắc chắn xóa caster <span class="red__alert">[name]</span> này không ?</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary btn-danger" onclick="onDeleteRoomConfirm()">Xóa</button>
      </div>
    </div>
  </div>
</div>