<div class="ClubManagementScreen">
  <div class="screen__header"></div>
  <div class="table__container">
    <div class="tableAction__cont">
      <button class="addNew__btn" data-bs-toggle="modal" data-bs-target="#addClubModal">+ Thêm mới</button>
    </div>
    <div class="table__content">
      <table class="table data__table">
        <thead class="header__table">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tên CLB</th>
            <th scope="col">Hình ảnh</th>
            <th scope="col">Ngày tạo</th>
            <th scope="col">Ngày thay đổi</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="table-group-divider table__body" id="table-body" >
        </tbody>
      </table>
      <!-- <nav class="table__pagination" aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav> -->
    </div>
  </div>
</div>

<!-- Create Modal -->
<div class="modal fade" id="addClubModal" tabindex="-1" aria-labelledby="addClubModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addClubModalTitle">Thêm mới CLB</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="AddClubManagementDialog">
          <div class="dialogForm__input">
            <div class="input__label">Tên CLB</div>
            <input id="clubName" type="text" class="clubName__input"></input>
          </div>
          <div class="dialogForm__input">
            <div class="input__label">Hình ảnh</div>
            <input id="clubImage" type="file" class="clubName__input"></input>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" onclick="createNewClubSubmit()">Thêm</button>
      </div>
    </div>
  </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateClubModal" tabindex="-1" aria-labelledby="updateClubModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateClubModalTitle">Cập nhật thông tin CLB</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="AddClubManagementDialog">
          <div class="dialogForm__input">
            <div class="input__label">Tên CLB</div>
            <input id="updateClubName" type="text" class="clubName__input"></input>
          </div>
          <div class="dialogForm__input">
            <div class="input__label">Hình ảnh</div>
            <input id="updateClubImage" type="file" class="clubName__input"></input>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" onclick="updateClubSubmit()">Cập nhật</button>
      </div>
    </div>
  </div>
</div>

<!-- Info modal -->
<div class="modal fade" id="infoClubModal" tabindex="-1" aria-labelledby="infoClubModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoClubModalTitle">Thông tin CLB</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="AddClubManagementDialog">
          <div class="dialogForm__input">
            <div class="input__label">Tên CLB</div>
            <input id="infoClubName" type="text" class="clubName__input" disabled></input>
          </div>
          <div class="dialogForm__input">
            <div class="input__label">Hình ảnh</div>
            <input id="clubImage" type="file" class="clubName__input" disabled></input>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete modal -->
<div class="modal fade" id="deleteClubModal" tabindex="-1" aria-labelledby="deleteClubModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteClubModalTitle">Xác nhận xóa CLB</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="BodyDialog" id="deleteBodyText"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary btn-danger" onclick="onDeleteClubConfirm()">Xóa</button>
      </div>
    </div>
  </div>
</div>