<main>
  <div class="HighlightsScreen">
    <div class="highlight__headerCont"></div>

    <h1 class="highlight__title"> Highlights bóng đá mới nhất hôm nay</h1>
    <div class="highlight__container">
      <a class="highlight__content" href="/highlights">
        <div class="highlight__top">
          <img 
            class="highlight__image" 
            src="https://sta.cvndnss.com/file/common/20220719/32202ce658f71688de00bb100e07d947_wh320.jpg">
          <div class="highlight__text">Dortmund vs Valencia | Highlights trận đấu</div>
        </div>
        <div class="highlight__bottom">
          <div class="leftside">
            Giao hữu
          </div>
          <div class="rightside">July 19,2022</div>
        </div>
      </a>
      <a class="highlight__content" href="/highlights">
        <div class="highlight__top">
          <img 
          class="highlight__image" 
          src="https://sta.cvndnss.com/file/common/20220719/32202ce658f71688de00bb100e07d947_wh320.jpg">
          <div class="highlight__text">Dortmund vs Valencia | Highlights trận đấu</div>
        </div>
        <div class="highlight__bottom">
          <div class="leftside">
            Giao hữu
          </div>
          <div class="rightside">July 19,2022</div>
        </div>
      </a>
      <a class="highlight__content" href="/highlights">
        <div class="highlight__top">
          <img 
          class="highlight__image" 
          src="https://sta.cvndnss.com/file/common/20220719/32202ce658f71688de00bb100e07d947_wh320.jpg">
          <div class="highlight__text">Dortmund vs Valencia | Highlights trận đấu</div>
        </div>
        <div class="highlight__bottom">
          <div class="leftside">
            Giao hữu
          </div>
          <div class="rightside">July 19,2022</div>
        </div>
      </a>
      <a class="highlight__content" href="/highlights">
        <div class="highlight__top">
          <img 
          class="highlight__image" 
          src="https://sta.cvndnss.com/file/common/20220719/32202ce658f71688de00bb100e07d947_wh320.jpg">
          <div class="highlight__text">Dortmund vs Valencia | Highlights trận đấu</div>
        </div>
        <div class="highlight__bottom">
          <div class="leftside">
            Giao hữu
          </div>
          <div class="rightside">July 19,2022</div>
        </div>
      </a>
      <a class="highlight__content" href="/highlights">
        <div class="highlight__top">
          <img 
          class="highlight__image" 
          src="https://sta.cvndnss.com/file/common/20220719/32202ce658f71688de00bb100e07d947_wh320.jpg">
          <div class="highlight__text">Dortmund vs Valencia | Highlights trận đấu</div>
        </div>
        <div class="highlight__bottom">
          <div class="leftside">
            Giao hữu
          </div>
          <div class="rightside">July 19,2022</div>
        </div>
      </a>
      <a class="highlight__content" href="/highlights">
        <div class="highlight__top">
          <img 
          class="highlight__image" 
          src="https://sta.cvndnss.com/file/common/20220719/32202ce658f71688de00bb100e07d947_wh320.jpg">
          <div class="highlight__text">Dortmund vs Valencia | Highlights trận đấu</div>
        </div>
        <div class="highlight__bottom">
          <div class="leftside">
            Giao hữu
          </div>
          <div class="rightside">July 19,2022</div>
        </div>
      </a>
      <a class="highlight__content" href="/highlights">
        <div class="highlight__top">
          <img 
          class="highlight__image" 
          src="https://sta.cvndnss.com/file/common/20220719/32202ce658f71688de00bb100e07d947_wh320.jpg">
          <div class="highlight__text">Dortmund vs Valencia | Highlights trận đấu</div>
        </div>
        <div class="highlight__bottom">
          <div class="leftside">
            Giao hữu
          </div>
          <div class="rightside">July 19,2022</div>
        </div>
      </a>
      <a class="highlight__content" href="/highlights">
        <div class="highlight__top">
          <img 
          class="highlight__image" 
          src="https://sta.cvndnss.com/file/common/20220719/32202ce658f71688de00bb100e07d947_wh320.jpg">
          <div class="highlight__text">Dortmund vs Valencia | Highlights trận đấu</div>
        </div>
        <div class="highlight__bottom">
          <div class="leftside">
            Giao hữu
          </div>
          <div class="rightside">July 19,2022</div>
        </div>
      </a>
      <a class="highlight__content" href="/highlights">
        <div class="highlight__top">
          <img 
          class="highlight__image" 
          src="https://sta.cvndnss.com/file/common/20220719/32202ce658f71688de00bb100e07d947_wh320.jpg">
          <div class="highlight__text">Dortmund vs Valencia | Highlights trận đấu</div>
        </div>
        <div class="highlight__bottom">
          <div class="leftside">
            Giao hữu
          </div>
          <div class="rightside">July 19,2022</div>
        </div>
      </a>
      <a class="highlight__content" href="/highlights">
        <div class="highlight__top">
          <img 
          class="highlight__image" 
          src="https://sta.cvndnss.com/file/common/20220719/32202ce658f71688de00bb100e07d947_wh320.jpg">
          <div class="highlight__text">Dortmund vs Valencia | Highlights trận đấu</div>
        </div>
        <div class="highlight__bottom">
          <div class="leftside">
            Giao hữu
          </div>
          <div class="rightside">July 19,2022</div>
        </div>
      </a>
      <a class="highlight__content" href="/highlights">
        <div class="highlight__top">
          <img 
          class="highlight__image" 
          src="https://sta.cvndnss.com/file/common/20220719/32202ce658f71688de00bb100e07d947_wh320.jpg">
          <div class="highlight__text">Dortmund vs Valencia | Highlights trận đấu</div>
        </div>
        <div class="highlight__bottom">
          <div class="leftside">
            Giao hữu
          </div>
          <div class="rightside">July 19,2022</div>
        </div>
      </a>
      <a class="highlight__content" href="/highlights">
        <div class="highlight__top">
          <img 
          class="highlight__image" 
          src="https://sta.cvndnss.com/file/common/20220719/32202ce658f71688de00bb100e07d947_wh320.jpg">
          <div class="highlight__text">Dortmund vs Valencia | Highlights trận đấu</div>
        </div>
        <div class="highlight__bottom">
          <div class="leftside">
            Giao hữu
          </div>
          <div class="rightside">July 19,2022</div>
        </div>
      </a>
    </div>
  </div>
</main>