<div class="LeagueManagementScreen">
  <div class="screen__header"></div>
  <div class="table__container">
    <div class="tableAction__cont">
      <button class="addNew__btn" data-bs-toggle="modal" data-bs-target="#addLeagueModal">+ Thêm mới</button>
    </div>
    <div class="table__content">
      <table class="table data__table">
        <thead class="header__table">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tên giải</th>
            <th scope="col">Hình ảnh</th>
            <th scope="col">Ngày tạo</th>
            <th scope="col">Ngày thay đổi</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="table-group-divider table__body" id="table-body" >
        </tbody>
      </table>
      <!-- <nav class="table__pagination" aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav> -->
    </div>
  </div>
</div>

<!-- Create Modal -->
<div class="modal fade" id="addLeagueModal" tabindex="-1" aria-labelledby="addLeagueModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addLeagueModalTitle">Thêm mới giải</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="AddLeagueManagementDialog">
          <div class="dialogForm__input">
            <div class="input__label">Tên giải</div>
            <input id="leagueName" type="text" class="leagueName__input"></input>
          </div>
          <div class="dialogForm__input">
            <div class="input__label">Hình ảnh</div>
            <input id="leagueImage" type="file" class="leagueName__input"></input>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" onclick="createNewLeagueSubmit()">Thêm</button>
      </div>
    </div>
  </div>
</div>