<main>
  <div class="LivestreamSchedule">
    <div class="schedule__headerContainer"></div>
    <div class="schedule__list">
      <div class="schedule__room">
        <div class="content__leagueTime">
          <div class="league__text"> MEX D1 </div>
          <div class="time__text">09:05</div>
        </div>
        <div class="match__info">
          <div class="club__info">
            <img 
              class="club__image" 
              src="https://sta.cvndnss.com/file/default/202203/04/3112cce3a857e9ac4087abe9c4ac55f0"/>
            <div class="club__name">Club Necaxa</div>
          </div>
          <div class="club__info">
            <img 
              class="club__image" 
              src="https://sta.cvndnss.com/file/common/20220721/87ad36bd09bb9c9aaec54480098e90f5.png"/>
            <div class="club__name">FC Juarez</div>
          </div>
        </div>
        <div class="blv__container">
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
        </div>
      </div>
      <div class="schedule__room">
        <div class="content__leagueTime">
          <div class="league__text"> MEX D1 </div>
          <div class="time__text">09:05</div>
        </div>
        <div class="match__info">
          <div class="club__info">
            <img 
              class="club__image" 
              src="https://sta.cvndnss.com/file/default/202203/04/3112cce3a857e9ac4087abe9c4ac55f0"/>
            <div class="club__name">Club Necaxa</div>
          </div>
          <div class="club__info">
            <img 
              class="club__image" 
              src="https://sta.cvndnss.com/file/common/20220721/87ad36bd09bb9c9aaec54480098e90f5.png"/>
            <div class="club__name">FC Juarez</div>
          </div>
        </div>
        <div class="blv__container">
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
        </div>
      </div>
      <div class="schedule__room">
        <div class="content__leagueTime">
          <div class="league__text"> MEX D1 </div>
          <div class="time__text">09:05</div>
        </div>
        <div class="match__info">
          <div class="club__info">
            <img 
              class="club__image" 
              src="https://sta.cvndnss.com/file/default/202203/04/3112cce3a857e9ac4087abe9c4ac55f0"/>
            <div class="club__name">Club Necaxa</div>
          </div>
          <div class="club__info">
            <img 
              class="club__image" 
              src="https://sta.cvndnss.com/file/common/20220721/87ad36bd09bb9c9aaec54480098e90f5.png"/>
            <div class="club__name">FC Juarez</div>
          </div>
        </div>
        <div class="blv__container">
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
        </div>
      </div>
      <div class="schedule__room">
        <div class="content__leagueTime">
          <div class="league__text"> MEX D1 </div>
          <div class="time__text">09:05</div>
        </div>
        <div class="match__info">
          <div class="club__info">
            <img 
              class="club__image" 
              src="https://sta.cvndnss.com/file/default/202203/04/3112cce3a857e9ac4087abe9c4ac55f0"/>
            <div class="club__name">Club Necaxa</div>
          </div>
          <div class="club__info">
            <img 
              class="club__image" 
              src="https://sta.cvndnss.com/file/common/20220721/87ad36bd09bb9c9aaec54480098e90f5.png"/>
            <div class="club__name">FC Juarez</div>
          </div>
        </div>
        <div class="blv__container">
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
        </div>
      </div>
      <div class="schedule__room">
        <div class="content__leagueTime">
          <div class="league__text"> MEX D1 </div>
          <div class="time__text">09:05</div>
        </div>
        <div class="match__info">
          <div class="club__info">
            <img 
              class="club__image" 
              src="https://sta.cvndnss.com/file/default/202203/04/3112cce3a857e9ac4087abe9c4ac55f0"/>
            <div class="club__name">Club Necaxa</div>
          </div>
          <div class="club__info">
            <img 
              class="club__image" 
              src="https://sta.cvndnss.com/file/common/20220721/87ad36bd09bb9c9aaec54480098e90f5.png"/>
            <div class="club__name">FC Juarez</div>
          </div>
        </div>
        <div class="blv__container">
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
        </div>
      </div>
      <div class="schedule__room">
        <div class="content__leagueTime">
          <div class="league__text"> MEX D1 </div>
          <div class="time__text">09:05</div>
        </div>
        <div class="match__info">
          <div class="club__info">
            <img 
              class="club__image" 
              src="https://sta.cvndnss.com/file/default/202203/04/3112cce3a857e9ac4087abe9c4ac55f0"/>
            <div class="club__name">Club Necaxa</div>
          </div>
          <div class="club__info">
            <img 
              class="club__image" 
              src="https://sta.cvndnss.com/file/common/20220721/87ad36bd09bb9c9aaec54480098e90f5.png"/>
            <div class="club__name">FC Juarez</div>
          </div>
        </div>
        <div class="blv__container">
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
        </div>
      </div>
      <div class="schedule__room">
        <div class="content__leagueTime">
          <div class="league__text"> MEX D1 </div>
          <div class="time__text">09:05</div>
        </div>
        <div class="match__info">
          <div class="club__info">
            <img 
              class="club__image" 
              src="https://sta.cvndnss.com/file/default/202203/04/3112cce3a857e9ac4087abe9c4ac55f0"/>
            <div class="club__name">Club Necaxa</div>
          </div>
          <div class="club__info">
            <img 
              class="club__image" 
              src="https://sta.cvndnss.com/file/common/20220721/87ad36bd09bb9c9aaec54480098e90f5.png"/>
            <div class="club__name">FC Juarez</div>
          </div>
        </div>
        <div class="blv__container">
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
        </div>
      </div>
      <div class="schedule__room">
        <div class="content__leagueTime">
          <div class="league__text"> MEX D1 </div>
          <div class="time__text">09:05</div>
        </div>
        <div class="match__info">
          <div class="club__info">
            <img 
              class="club__image" 
              src="https://sta.cvndnss.com/file/default/202203/04/3112cce3a857e9ac4087abe9c4ac55f0"/>
            <div class="club__name">Club Necaxa</div>
          </div>
          <div class="club__info">
            <img 
              class="club__image" 
              src="https://sta.cvndnss.com/file/common/20220721/87ad36bd09bb9c9aaec54480098e90f5.png"/>
            <div class="club__name">FC Juarez</div>
          </div>
        </div>
        <div class="blv__container">
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
        </div>
      </div>
      <div class="schedule__room">
        <div class="content__leagueTime">
          <div class="league__text"> MEX D1 </div>
          <div class="time__text">09:05</div>
        </div>
        <div class="match__info">
          <div class="club__info">
            <img 
              class="club__image" 
              src="https://sta.cvndnss.com/file/default/202203/04/3112cce3a857e9ac4087abe9c4ac55f0"/>
            <div class="club__name">Club Necaxa</div>
          </div>
          <div class="club__info">
            <img 
              class="club__image" 
              src="https://sta.cvndnss.com/file/common/20220721/87ad36bd09bb9c9aaec54480098e90f5.png"/>
            <div class="club__name">FC Juarez</div>
          </div>
        </div>
        <div class="blv__container">
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
        </div>
      </div>
      <div class="schedule__room">
        <div class="content__leagueTime">
          <div class="league__text"> MEX D1 </div>
          <div class="time__text">09:05</div>
        </div>
        <div class="match__info">
          <div class="club__info">
            <img 
              class="club__image" 
              src="https://sta.cvndnss.com/file/default/202203/04/3112cce3a857e9ac4087abe9c4ac55f0"/>
            <div class="club__name">Club Necaxa</div>
          </div>
          <div class="club__info">
            <img 
              class="club__image" 
              src="https://sta.cvndnss.com/file/common/20220721/87ad36bd09bb9c9aaec54480098e90f5.png"/>
            <div class="club__name">FC Juarez</div>
          </div>
        </div>
        <div class="blv__container">
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
          <div class="blv__info">
            <img 
              class="blv__image" 
              src="https://sta.cvndnss.com/file/head/20220627/645b22573c567baf728a81e490f7e47e_ss300.jpg"/>
            <div class="blv__name">BLV TAP</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>