<div class="loginAdminScreen">
  <div class="login__title">Admin Sign Up</div>
  <div class="login__cont">
    <div class="input__form">
      <label class="form__title" for="email">Username:</label>
      <input
        class="form__input"
        type="text"
        id="username"
        name="username"
      />
    </div>
    <div class="input__form">
      <label class="form__title" for="password">Password:</label>
      <input
        class="form__input"
        type="Password"
        id="password"
        name="password"
      />
    </div>
    <div class="form__action">
      <button class="submit__btn" onclick="submitLogin()">Submit</button>
    </div>
  </div>
</div>
