<div class="UserManagementScreen">
  <div class="screen__header"></div>
  <div class="table__container">
    <div class="tableAction__cont">
      <!-- <button class="addNew__btn">+ Thêm mới</button> -->
    </div>
    <div class="table__content">
      <table class="table data__table">
        <thead class="header__table">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Nickname</th>
            <th scope="col">Ngày tạo</th>
            <th scope="col">Ngày thay đổi</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="table-group-divider table__body" id="table-body" >
        </tbody>
      </table>
      <nav class="table__pagination" aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>