<div class="UserManagementScreen">
  <div class="screen__header"></div>
  <div class="table__container">
    <div class="tableAction__cont">
      <!-- <button class="addNew__btn">+ Thêm mới</button> -->
    </div>
    <div class="table__content">
      <table class="table data__table">
        <thead class="header__table">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Nickname</th>
            <th scope="col">Ngày tạo</th>
            <th scope="col">Ngày thay đổi</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="table-group-divider table__body"  >
        </tbody>
      </table>
      <!-- <nav class="table__pagination" aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav> -->
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="updateUserModal" tabindex="-1" aria-labelledby="updateUserModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateUserModalTitle">Cập nhật thông tin người dùng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="BodyDialog">
          <div class="dialogForm__input">
            <div class="input__label">Họ tên</div>
            <input id="casterName" type="text" class="casterName__input"></input>
          </div>
          <div class="dialogForm__input">
            <div class="input__label">Nickname</div>
            <input id="casterName" type="text" class="casterName__input"></input>
          </div>
          <div class="dialogForm__input">
            <div class="input__label">Vai trò</div>
            <select class="role__input" id="role" class="form-select" aria-label="Chọn vai trò">
              <option selected>Selected data</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" onclick="updateUserInfoSubmit()">Cập nhật</button>
      </div>
    </div>
  </div>
</div>

<!-- Info modal -->
<div class="modal fade" id="infoUserModal" tabindex="-1" aria-labelledby="infoUserModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoUserModalTitle">Thông tin người dùng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="BodyDialog">
          <div class="dialogForm__input">
            <div class="input__label">Họ tên</div>
            <input id="casterName" type="text" class="casterName__input" disabled></input>
          </div>
          <div class="dialogForm__input">
            <div class="input__label">Nickname</div>
            <input id="casterName" type="text" class="casterName__input" disabled></input>
          </div>
          <div class="dialogForm__input">
            <div class="input__label">Vai trò</div>
            <select class="role__input" id="role" class="form-select" aria-label="Chọn vai trò" disabled>
              <option selected>Selected data</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete modal -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteUserModalTitle">Xác nhận xóa người dùng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="BodyDialog">
          <div>Bạn có chắc chắn xóa người dùng <span class="red__alert">[name]</span> này không ?</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary btn-danger" onclick="onDeleteUserConfirm()">Xóa</button>
      </div>
    </div>
  </div>
</div>