@import "./../constants/flex";
@import "./../constants/color";

.SideBar {
  height: 100%;
  width: 320px;
  background-color: $primary_color;

  .Sidebar__logo {
    padding: 50px 20px 35px;
    @include flex-column-center-center;

    .brand__logo {
      width: 260px;
    }
  }

  .Menu__navigation {
    @include flex-column-start-start;
    width: 100%;
    padding: 20px 20px 35px;
    border-top: 0.5px solid $secondary_color;

    .menu__title {
      font-size: 24px;
      font-weight: bold;
      color: $secondary_color;
    }

    .navigate {
      width: 100%;
      padding: 8px 20px;
      margin-top: 15px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 8px;
      text-decoration: unset;
      color: $secondary_color;
      cursor: pointer;

      &.navi__firstChild {
        margin-top: 50px;
      }

      &.navigate__active {
        background-color: $grey_3rd_color;

        &:hover {
          background-color: $grey_3rd_color;
        }
      }

      &:hover {
        background-color: $grey_4th_color;
      }
    }
  }
}