<div class="blvIcon__container">
  <img 
    class="blv__image"
    src="https://sta.cvndnss.com/file/head/20220519/768f161d74b731ae811921a5f3f35fb6.jpeg">
  <div class="blv__name">
    BLV 1
  </div>
</div>
