<footer class="footer__container">
  <div class="content__container">
    <div class="footerMenu__container">
      <a class="menu__cont" href="">Điều khoản dịch vụ</a>
      <a class="menu__cont" href="">Chính sách bảo mật</a>
      <a class="menu__cont" href="">Về chúng tôi</a>
      <a class="menu__cont" href="">Phương thức liên hệ</a>
      <a class="menu__cont" href="">Tuyên bố miễn trừ trách nhiệm</a>
    </div>
    <div class="copyright__text">
      Copyright © 2022 Weblive, All rights reserved.
    </div>
  </div>
</footer>
