<div class="hotlive__video">
  <div class="video__live">
    <img 
      class="liveVideo"
      src="https://sta.cvndnss.com/file/live/room/cover/121272.jpg?t=1656872234"
      data-src="https://sta.cvndnss.com/file/live/room/cover/121272.jpg?t=1656872234"
      data-src-backup="https://sta.cvndnss.com/file/live/room/cover/121272.jpg?t=1656872234">
  </div>
  <div class="hotlive__name">CHI D2  CD Santiago Morning vs CSyD Barnechea</div>
</div>
