  <div class="matchInfo">
    <div class="match__header">
      <div class="matchHeader__left">
        <img
          class="sport__icon"
          src="https://sta.cvndnss.com/file/common/20210503/fca5954ec22137ad05325506d6645592">
        <span class="league__name">JPN D2</span>
      </div>
      <div class="matchHeader__right">
        <div class="match__time">Hôm nay  12:00</div>
      </div>
    </div>
    <div class="battle__info">
      <div class="battle__left">
        <div class="team__battle">
          <img class="team__logo" src="https://sta.cvndnss.com/file/imgs/team/football/20121218210601.gif" data-src="https://sta.cvndnss.com/file/imgs/team/football/20121218210601.gif">
          <span class="team__name">Blaublitz Akita</span>
        </div>
        <div class="team__battle">
          <img class="team__logo" src="https://sta.cvndnss.com/file/imgs/team/football/20150923114054.png" data-src="https://sta.cvndnss.com/file/imgs/team/football/20150923114054.png" alt="">
          <span class="team__name">Renofa Yamaguchi</span>
        </div>
      </div>
      <div class="battle__right">
        <a class="appoinment__btn doneAppoinment__btn">Đã đặt trước</a>
        <a class="appoinment__btn">Đặt lịch</a>
        <!-- <a href="javascript:;" class="match__appoinment">
        </a> -->
      </div>
    </div>
  </div>