<div class="SideBar">
  <div class="Sidebar__logo">
    <img
      class="brand__logo"
      src="//sta.cvndnss.com/xoilac2_web/assets/xoilac2/img/logo.png?v=20220602"
      alt="xoilac2 Live">
  </div>
  <div class="Menu__navigation">
    <div class="menu__title">Bảng điều khiển</div>
    <!-- user tab -->
    <% if (tabChoose === 'user') { %>
      <a 
        class="navigate navigate__active navi__firstChild"
        href="/admin/quan-li-user">
        Quản lí người dùng
      </a>
    <% } else { %>
      <a 
        class="navigate navi__firstChild"
        href="/admin/quan-li-user">
        Quản lí người dùng
      </a>
    <% } %>
    
    <!-- caster tab -->
    <% if (tabChoose === 'caster') { %>
      <a 
        class="navigate navigate__active" 
        href="/admin/quan-li-caster">
        Quản lí caster
      </a>
    <% } else { %>
      <a 
        class="navigate" 
        href="/admin/quan-li-caster">
        Quản lí caster
      </a>
    <% } %>

    <!-- club tab -->
    <% if (tabChoose === 'club') { %>
      <a 
        class="navigate navigate__active"
        href="/admin/quan-li-clb">
        Quản lí CLB
      </a>
    <% } else { %>
      <a 
        class="navigate"
        href="/admin/quan-li-clb">
        Quản lí CLB
      </a>
    <% } %>
    
    <!-- league tab -->
    <% if (tabChoose === 'league') { %>
      <a 
        class="navigate navigate__active" 
        href="/admin/quan-li-giai">
        Quản lí giải
      </a>
    <% } else { %>
      <a 
        class="navigate" 
        href="/admin/quan-li-giai">
        Quản lí giải
      </a>
    <% } %>
  
    <!-- room tab -->
    <% if (tabChoose === 'room') { %>
      <a 
        class="navigate navigate__active" 
        href="/admin/quan-li-phong">
        Quản lí phòng
      </a>
    <% } else { %>
      <a 
        class="navigate" 
        href="/admin/quan-li-phong">
        Quản lí phòng
      </a>
    <% } %>

    <!-- role tab -->
    <% if (tabChoose === 'role') { %>
      <a 
        class="navigate navigate__active" 
        href="/admin/quan-li-vai-tro">
        Quản lí role
      </a>
    <% } else { %>
      <a 
        class="navigate" 
        href="/admin/quan-li-vai-tro">
        Quản lí role
      </a>
    <% } %>
    <div 
      class="navigate" 
      onclick="onLogout()">
      Đăng xuất
    </div>
  </div>
</div>

<script>
async function onLogout() {
  localStorage.removeItem('token');
  window.location.href = '/admin/login'; 
}
</script>