<div class="SideBar">
  <div class="Sidebar__logo">
    <img
      class="brand__logo"
      src="//sta.cvndnss.com/xoilac2_web/assets/xoilac2/img/logo.png?v=20220602"
      alt="xoilac2 Live">
  </div>
  <div class="Menu__navigation">
    <div class="menu__title">Bảng điều khiển</div>
    <a 
      class="navigate navigate__active navi__firstChild"
      href="/admin/quan-li-user">
      Quản lí người dùng
    </a>
    <a 
      class="navigate" 
      href="/admin/quan-li-caster">
      Quản lí caster
    </a>
    <a 
      class="navigate"
      href="/admin/quan-li-clb">
      Quản lí CLB
    </a>
    <a 
      class="navigate" 
      href="admin/quan-li-league">
      Quản lí giải
    </a>
    <a 
      class="navigate" 
      href="/admin/quan-li-room">
      Quản lí phòng
    </a>
    <a 
      class="navigate" 
      href="/admin/quan-li-role">
      Quản lí role
    </a>
  </div>
</div>